name: Release

on:
  workflow_call:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: write
  pull-requests: write

env:
  TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
  TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      # version or publish packages
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: ./.github/actions/changesets

      # merge version pr
      - name: merge version pr
        if: ${{ steps.changesets.outputs.createPrOnly == 'true' }}
        uses: ./.github/actions/merge-version-pr
        with:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

      # deploy site
      - name: Deploy to Cloudflare Pages
        if: ${{ steps.changesets.outputs.createPrOnly != 'true' }}
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy packages/site/dist --project-name=bbki-ng
